@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply h-full;
}

body {
	@apply bg-primary h-full w-full;
}

#root {
	@apply h-full;
}

@media (prefers-color-scheme: dark) {
	body {
		@apply bg-primary-bg-dark;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
